/* Home */
.home{
  width: 100%;
  height:100vh;
  background: url('../../assets/trucks.jpeg');
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
}

.home-heading-wrapper{
  position: relative;
  padding: 20px;
  background-color: rgba(225, 225, 225, 0.8);
  margin-left: 10%;
  max-width:800px;
}

.home-heading-wrapper h1{
  font-size: 3.2rem;
  
}

.home-heading-wrapper p{
  font-size: 1.51rem;
  margin-top: 10px;
}

@media only screen and (max-width: 450px) {
  .home-heading-wrapper{
    max-width:100%;
    margin-left: 0;
  }
  .home-heading-wrapper h1{
    font-size: 2.6rem;  
  }
  
  .home-heading-wrapper p{
    font-size: 1.3rem;
  }
}

@media only screen and (min-width: 1920px) {
  .home-heading-wrapper{
    max-width:1000px;
  }
  .home-heading-wrapper h1{
    font-size: 3.5rem;  
  }
  
  .home-heading-wrapper p{
    font-size: 1.8rem;
  }
}